datasets==3.4.1
jieba==0.42.1
kagglehub==0.3.12
keras==3.9.0
keras_hub==0.20.0
keras_tuner==1.4.7
lxml==5.4.0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
pypinyin==0.54.0
scikit_learn==1.6.1
tensorflow==2.19.0
